@model ECommerce.Entities.Entities.UserEntities.Concrete.Dtos.UserRegisterDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 style="text-align:center;">Register</h1>


<hr />
<div class="row">
    <div class="col-md-4" style="margin:auto;">
        
        <form asp-action="Register" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="LastName" type="" class="form-control" placeholder="Last Name"  />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Username" type="" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="EmailConfirm" type="email" class="form-control" placeholder="Email Confirm"  />
                <span asp-validation-for="EmailConfirm" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Password Confirm"  />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Birthdate" type="date" class="form-control" placeholder="Birthdate"  />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="text-align:center;">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>



