@model IEnumerable<ECommerce.Entities.Entities.ShopEntities.Concrete.Product>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="~/js/HomeIndex.js"></script>
    <link rel="stylesheet1" href="~/css/HomeIndex.css" />
    <link rel="stylesheet2" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet3" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet4" href="~/ECommerce.UI.styles.css" asp-append-version="true" />
    <link href="~/css/bootstrap.css" rel="stylesheet5">
</head>

<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="./lib/pictures/ezgif.com-gif-maker (5).jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./lib/pictures/ezgif.com-gif-maker (6).jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./lib/pictures/ezgif.com-gif-maker (7).jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Geri</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">İleri</span>
        </a>
    </div>
    <div style="display:block; margin-top:20px; text-align:center;">
        <h1 >En yeni ürünler sizlerle...</h1>
    
    

    
</body>


